body {
  font-family: 'Nunito', sans-serif;
  background: #4e54c8;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #4e54c8);
}

div {
  width: 350px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  box-shadow: 0 0 8px rgba(0,0,0, 0.4);
}

h1 {
  font-weight: 800;
  background-color: #5a7196;
  padding: 2px 20px;
  color: white;
  text-transform: uppercase;
  margin: 0px;
}

.fa-plus {
  float: right;
  transform: translateY(16%);
}

input[type="text"] {
  font-weight: 600;
  font-size: 1.3em;
  width: 100%;
  border: 4px solid white;
  box-sizing: border-box;
  padding: 2px 16px;
  color: #45618e;
}  

/* get rid of blue MacOS highlight */
input[type="text"]:focus {
  outline: none;
  border: 4px solid #8f94fb;
}

input[type="text"]::placeholder {
  color: #dee9fc;
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: 1.3em;
  color: #45618e;
}

li:nth-child(even) { background-color: white }
li:nth-child(odd)  { background-color: #f4f7fc }

li span {
  background: #db1c2f;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

.done {
  color: #dee9fc;
  text-decoration: line-through;
}

